/* Общие стили для всего документа */
body {
    margin: 0; /* Убираем отступы вокруг страницы */
    font-family: 'Unbounded', sans-serif; /* Задаем шрифт для всего документа */
}

/* Основное содержание */
.main-content {
    box-sizing: border-box;
    position: absolute;
    left: 250px; /* Сдвигаем на ширину боковой панели */
    width: calc(100% - 250px); /* Оставшаяся ширина */
    top: 150px; /* Ниже заголовка */
    padding: 20px; /* Внутренние отступы */
}

/* Заголовок для списка игроков */
.photo-title, .player-list-title {
    font-size: 36px; /* Размер заголовка */
    text-align: center; /* Центрируем заголовок */
    margin: 20px 0; /* Отступы от заголовка */
    color: #000000; /* Цвет текста */
}

/* Контейнер для изображений */
.photo-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    display: flex; /* Используем flexbox для размещения изображений рядом */
    justify-content: space-around; /* Отступ между элементами */
}

/* Элемент списка изображений */
.photo-item {
    margin: 10px; /* Отступы между элементами */
}

/* Контейнер игроков */
.player-list-section {
    width: 100%; /* Ширина контейнера для списка игроков */
    margin-top: 30px; /* Отступ от предыдущего элемента */
}

.player-container {
    display: flex; /* Используем Flexbox для вертикального выравнивания */
    flex-direction: column; /* Вертикальное направление */
    align-items: center; /* Центрируем элементы по горизонтали */
    width: 100%; /* Убедитесь, что ширина 100% */
}

/* Стиль для каждого игрока */
.player {
    width: 200px; /* Ширина блока игрока */
    height: 50px; /* Высота блока игрока */
    font-size: 24px; /* Размер шрифта имени игрока */
    line-height: 50px; /* Вертикальное выравнивание текста */
    color: #000000; /* Цвет текста */
    cursor: pointer; /* Указатель при наведении на игрока */
    background: #EDEDED; /* Цвет фона игрока */
    padding: 5px; /* Отступы внутри блока */
    border-radius: 5px; /* Закругленные углы */
    margin-bottom: 10px; /* Пробел между игроками */
    transition: background-color 0.3s; /* Плавный переход фона при наведении */
}

/* Эффект при наведении на игрока */
.player:hover {
    background: #D3D3D3; /* Цвет фона при наведении */
}

/* Панель действий */
.action-panel {
    display: flex; /* Используем flexbox для кнопок */
    gap: 10px; /* Отступ между кнопками */
    background: #D3D3D3; /* Цвет фона панели действий */
    padding: 10px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 20px; /* Отступ сверху для панели действий */
    justify-content: center; /* Центрируем содержимое панели */
}

/* Стиль для кнопок в панели действий */
.make-captain, .remove-player {
    background: #FEF8E7; /* Цвет кнопки */
    border: 1px solid #000000; /* Граница кнопки */
    border-radius: 20px; /* Закругленные углы */
    padding: 10px 20px; /* Внутренние отступы */
    text-align: center; /* Центрируем текст */
    cursor: pointer; /* Указатель при наведении на кнопку */
    transition: background-color 0.3s; /* Плавный переход цвета фона при наведении */
}

/* Эффект при наведении на кнопки */
.make-captain:hover, .remove-player:hover {
    background: #FFD700; /* Изменение цвета при наведении */
}

.sidebar-item.active {
    color: #3DA2D6; /* Цвет текста активного элемента */
}

