/* Общие настройки страницы */
body {
    margin: 0; /* Убираем отступы по умолчанию */
    font-family: 'Unbounded', sans-serif; /* Шрифт на всей странице */
    background-color: #FFFFFF; /* Цвет фона всей страницы, теперь белый */
    display: flex; /* Используем flexbox для размещения элементов */
}

/* Верхний заголовок */
.header {
    box-sizing: border-box;
    position: absolute;
    width: 100%; /* Ширина на всю страницу */
    height: 237px; /* Высота заголовка */
    top: 0; /* Вместе с верхним краем */
    background: #EDEDED; /* Цвет фона заголовка */
    border-width: 0 1px 1px 0; /* Границы снизу и справа */
    border-style: solid; /* Сплошные линии */
    border-color: #000000; /* Цвет границ */
    border-radius: 0 0 30px 0; /* Закругление углов снизу */
    display: flex; /* Флекс-контейнер для заголовка */
    align-items: center; /* Центрирование по вертикали */
    justify-content: space-between; /* Расстановка элементов по краям */
    padding: 0 20px; /* Отступы справа и слева */
}

/* Круглый аватар */
.avatar {
    width: 100px; /* Ширина аватара */
    height: 100px; /* Высота аватара */
    border-radius: 50%; /* Круглая форма */
    background-image: url('../elements/avatar.jpg'); 
    /* background-color: aquamarine; */
    background-size: cover; /* Покрывает весь элемент */
    background-position: center; /* Центрируем изображение */
    margin-right: 10px; /* Отступ справа от аватара */
    border: 2px solid #000000; /* Черная обводка */
}


/* Заголовок в верхней части */
.header-title {
    font-size: 24px; /* Размер шрифта */
    color: #000000; /* Цвет текста */
}

/* Кнопка редактирования */
.edit-btn, .notifications {
    font-size: 24px; /* Размер шрифта */
    color: #000000; /* Цвет текста */
}

/* Боковая панель */
.sidebar {
    box-sizing: border-box;
    position: absolute;
    width: 484px; /* Ширина боковой панели */
    height: calc(100vh - 237px); /* Высота равна высоте окна минус высота заголовка */
    left: 0; /* Отступ от левой стороны */
    top: 237px; /* Ниже заголовка */
    background: #EDEDED; /* Цвет фона */
    border-width: 0 1px 1px 0;
    border-style: solid; /* Сплошные границы */
    border-color: #000000; /* Цвет границ */
    border-radius: 0 30px 30px 0; /* Закругление углов справа */
    padding: 20px; /* Внутренние отступы */
}

/* Элементы боковой панели */
.sidebar-item {
    text-decoration: none;
    font-size: 24px; /* Размер шрифта */
    color: #000000; /* Цвет текста */
    padding: 50px 0;
}

/* Горизонтальная линия разделения */
.sidebar-divider {
    border: none; /* Убираем стандартные границы */
    border-top: 1px solid #000000; /* Добавляем черную линию сверху */
    margin: 50px 0; /* Отступы сверху и снизу */
}

.sidebar-item.active {
    color: #3DA2D6; /* Цвет текста активного элемента */
}
