html, body {
    height: 100%; /* Устанавливаем высоту для родительских элементов */
    margin: 0; /* Убираем отступы по умолчанию */
}

body {
    display: flex; /* Включаем flex-контейнер */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

/* Основные стили для контейнера регистрации */
.registration-container {
    box-sizing: border-box; /* Учитывать отступы и границы в ширине и высоте */
    position: relative; /* Позволяет задавать элементы внутри контейнера */
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: auto auto; /* Центрирование контейнера по горизонтали */
    padding: 100px; /* Внутренние отступы для всех сторон */
    background: #FEF8E7; /* Цвет фона */
    border: 3px solid #000; /* Черная рамка */
    border-radius: 30px; /* Закругленные углы */
}

/* Заголовок регистрации */
.registration-title {
    font-family: 'Unbounded', sans-serif; /* Шрифт заголовка */
    font-weight: 400; /* Стиль шрифта */
    font-size: 44px; /* Размер шрифта */
    line-height: 55px; /* Высота линии */
    color: #000000; /* Цвет текста */
    text-align: center; /* Центрирование текста */
    margin-bottom: 40px; /* Отступ снизу */
}

/* Стили для формы регистрации */
.registration-form {
    display: flex; /* Использование флекса для расположения элементов */
    flex-direction: column; /* Колоночное расположение */
    align-items: center; /* Центрирование элементов по горизонтали */
}

/* Группа для ввода */
.input-group {
    width: 100%; /* Полная ширина группы */
    margin-bottom: 20px; /* Отступ между полями ввода */
}

/* Метка поля ввода */
.input-label {
    font-family: 'Unbounded', sans-serif; /* Шрифт метки */
    font-size: 14px; /* Размер шрифта метки */
    color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный цвет */
    margin-bottom: 5px; /* Отступ снизу от метки */
}

/* Поле ввода */
.input-field {
    width: 100%; /* Полная ширина поля ввода */
    height: 44px; /* Высота поля ввода */
    padding: 10px; /* Внутренний отступ */
    box-sizing: border-box; /* Учитывать отступы и границы */
    border: 1px solid #000; /* Черная рамка */
    border-radius: 15px; /* Закругленные углы для поля ввода */
}

/* Кнопка отправки */
.submit-button {
    width: 100%; /* Полная ширина кнопки */
    height: 72px; /* Высота кнопки */
    background: #FEC556; /* Цвет фона кнопки */
    border: none; /* Убираем стандартную рамку */
    border-radius: 15px; /* Закругленные углы */
    font-family: 'Unbounded', sans-serif; /* Шрифт кнопки */
    font-weight: 400; /* Стиль шрифта */
    font-size: 20px; /* Размер шрифта */
    color: #000000; /* Цвет текста на кнопке */
    cursor: pointer; /* Указываем, что кнопка кликабельна */
}

/* Ссылки для входа */
.login-prompt {
    margin-top: 20px; /* Отступ сверху от кнопки */
    font-family: 'Unbounded', sans-serif; /* Шрифт для текста ссылки */
    font-weight: 400; /* Стиль шрифта */
    font-size: 20px; /* Размер шрифта */
    color: #000000; /* Цвет текста */
    text-align: center; /* Центрирование текста */
}

/* Стили ссылки */
.login-link {
    color: #3DA2D6; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
}

/* Кнопка для возврата на главную */
.back-button {
    width: 200px; /* Полная ширина кнопки */
    height: 56px; /* Высота кнопки */
    background: #D9D9D9; /* Цвет фона кнопки */
    border: 1px solid #000; /* Черная граница */
    border-radius: 7.5px; /* Закругленные углы */
    font-family: 'Unbounded', sans-serif; /* Шрифт кнопки */
    font-weight: 300; /* Стиль шрифта */
    font-size: 18px; /* Размер шрифта */
    color: #000000; /* Цвет текста */
    cursor: pointer; /* Указываем, что кнопка кликабельна */
    margin-top: 30px; /* Отступ сверху от формы */
}

/* Элемент для отображения пароля */
.password-eye {
    cursor: pointer; /* Указываем, что элемент кликабельный */
    margin-left: -40px; /* Отступ для настройки внешнего вида */
}

/* Убираем фокус с поля ввода при клике на глаз */
.password-eye:focus {
    outline: none;
}