<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-game.css}"> <!-- Используем Thymeleaf для подключения CSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/script.js}"></script> <!-- Используем Thymeleaf для подключения JS -->

    <title>Макет Игры</title>
</head>

<body>

<div class="game-layout">
    <!-- Кнопка "Назад" размещается слева -->
    <button class="back-btn" id="backButton">← Назад</button>

    <!-- Блоки управления с кнопками Редактировать и Сохранить -->
    <div class="edit-block">
        <button class="btn rectangle-112">Редактировать</button>
        <button class="btn rectangle-113">Сохранить изменения</button>
    </div>

    <!-- Заголовок игры также расположен слева -->
    <div class="game-title">Игра...</div>

    <div class="content-container">
        <div class="line-15"></div>
        <div class="description-block">
            Здесь будет текст описания игры.
        </div>
    </div>

    <div class="additional-info-block">Блок с дополнительной информацией</div>

    <div class="game-images">
        <div class="game-image" style="background-image: url('@{/images/14058.jpg}');"></div>
        <div class="game-image" style="background-image: url('@{/images/28378.jpg}');"></div>
        <div class="game-image" style="background-image: url('@{/images/27355.jpg}');"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var descriptionHeight = $('.description-block').outerHeight();
        $('.line-15').height(descriptionHeight);

        // Добавляем обработчик события для кнопки "Назад"
        $('#backButton').click(function() {
            window.location.href = '@{/admin}';
        });
    });
</script>

</body>

</html>
