<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-content.css}"> <!-- Используем Thymeleaf для подключения CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/script.js}"></script> <!-- Используем Thymeleaf для подключения JS -->
    <title>Управление играми</title>
</head>
<body>
<!-- Основной контент -->
<div class="main-content" id="main-content">
    <div class="photo-section">
        <h2 class="photo-title">Управление играми</h2>
        <ul class="photo-list">
            <li class="photo-item">
                <a th:href="@{/edit-game.html}"> <!-- Используем th:href -->
                    <img th:src="@{/elements/game-image1.png}" alt="Описание фотографии 1" class="photo-image"> <!-- Используем th:src -->
                </a>
            </li>
            <li class="photo-item">
                <a th:href="@{/game2.html}"> <!-- Используем th:href -->
                    <img th:src="@{/elements/game-image2.png}" alt="Описание фотографии 2" class="photo-image"> <!-- Используем th:src -->
                </a>
            </li>
            <li class="photo-item">
                <a th:href="@{/game1.html}"> <!-- Используем th:href -->
                    <img th:src="@{/elements/game-image1.png}" alt="Описание фотографии 1" class="photo-image"> <!-- Используем th:src -->
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>


