<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style-game.css}"> <!-- Используем Thymeleaf для подключения CSS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/manage-game.js}"></script> <!-- Используем Thymeleaf для подключения JS -->

    <title>Макет Игры</title>
</head>

<body>

<div class="game-layout">
    <!-- Кнопка "Назад" размещается слева -->
    <button class="back-btn" id="backButton">← Назад</button>

    <!-- Блоки управления с кнопками Редактировать и Сохранить -->
    <div class="edit-block">
        <button class="btn rectangle-112">Редактировать</button>
        <button class="btn rectangle-113">Сохранить изменения</button>
    </div>

    <!-- Заголовок игры также расположен слева -->
    <div class="game-title">Игра...</div>

    <div class="content-container">
        <div class="line-15"></div>
        <div class="description-block">
            И, как обычно, в начале декабря будет игра в честь
            <span class="highlight">Дня Рождения ПЕТРОВа (Леве – 70!!!)</span>,
            которая состоится в <span class="highlight">восчкресенье, 8 декабря в 12-00
            в Гатчинском футбольном манеже</span>
            (город Гатчина, улица Новоселов, 8Б).
            <p>Это будет не просто игра – это День Гатчины на Поляне.
                Приглашаются все желающие поздравить именинника и обыграть его на футбольном поле.</p>
            <p> Приходите все! </p>
        </div>
    </div>

    <div class="additional-info-block"><!-- Блоки с дополнительной информацией --></div>

    <!-- <div class="game-images">
        <div class="game-image" style="background-image: url('@{/images/14058.jpg}');"></div>
        <div class="game-image" style="background-image: url('@{/images/28378.jpg}');"></div>
        <div class="game-image" style="background-image: url('@{/images/27355.jpg}');"></div>
    </div>  -->

    <!-- Блоки управления с кнопкой Записаться на игру -->
    <div class="edit-block">
        <button class="btn rectangle-112">Записаться на игру</button>
    </div>
    <p></p>
</div>
</body>
</html>
